{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}


{% block body %}
 

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">iThACK Community</h1>
            <p>My Awesome Cart! is an Indian e-commerce company based in Bangalore, Karnataka, India. It was founded by
                Sachin Bansal and Binny Bansal in 2007. The company initially focused on book sales, before expanding
                into other product categories such as consumer electronics, fashion, home essentials & groceries, and
                lifestyle products.

                The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal. As of
                March 2017, My Awesome Cart! held a 39.5% market share of India's e-commerce industry.[8] My Awesome
                Cart! is significantly dominant in the sale of apparel (a position that was bolstered by its acquisition
                of Myntra), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile
                phones. My Awesome Cart! also owns PhonePe, a mobile payments service based on the Unified Payments
                Interface (UPI).

                In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in My Awesome Cart! for
                US$16 billion, valuing it at $20 billion.</p>
            <p><a class="btn btn-primary btn-lg btn-success" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img src='/static/img/pic1.jpg' class="bd-placeholder-img rounded-circle" width="140" height="140">
                <h2>Miguel Rodrigez</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                    vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                    cursus magna.</p>
                <p><a class="btn btn-secondary btn-success" href="#" role="button">View details »</a></p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src='/static/img/pic2.jpg' class="bd-placeholder-img rounded-circle" width="140" height="140">
                <h2>Amanda Gallaher</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
                    mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh.</p>
                <p><a class="btn btn-secondary btn-success" href="#" role="button">View details »</a></p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src='/static/img/pic3.jpg' class="bd-placeholder-img rounded-circle" width="140" height="140">
                <h2>Jonathan Doe</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa just.</p>
                <p><a class="btn btn-secondary btn-success" href="#" role="button">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7" style="align-self: center">
                <h2 class="featurette-heading">Search » Select » Buy online<span class="text-muted"> Securely</span></h2>
                <p class="font-size-sm pb-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean dolor dolor tristique nec. Tristique nulla aliquet enim tortor at auctor urna nunc. Sit amet aliquam id diam maecenas ultricies mi eget.</p>
            </div>
            <div class="col-md-5">
                <img src='/static/img/wall2.jpg' class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="min-height: 20rem">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2" style="align-self: center">
                <h2 class="featurette-heading">Oh Yeah, It’s That Good <span class="text-muted">See For
                        Yourself.</span></h2>
                <p class="font-size-sm pb-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellu purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod. Duis erat lectus, ultrices euismod sagittis at dolor tristique nec. Tristique nulla aliquet enim tortor at auctor urna nunc. Sit amet aliquam id diam maecenas ultricies mi eget.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src='/static/img/wall1.jpg' class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" style="min-height: 20rem">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7" style="align-self: center">
                <h2 class="featurette-heading">Fast Delivery Worldwide <span class="text-muted">Checkmate.</span></h2>
                <p class="font-size-sm pb-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat lectus, ultrices euismod sagittis at, pharetra eu nisl. Phasellus id ante at velit tincidunt hendrerit. Aenean dolor dolor tristique nec. Tristique nulla aliquet enim tortor at auctor urna nunc. Sit amet aliquam id diam maecenas ultricies mi eget.</p>
            </div>
            <div class="col-md-5">
                <img src='/static/img/wall.jpg' class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" style="min-height: 20rem">
            </div>
        </div>

    </div>

    <hr>
    </div> <!-- /container -->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</main>


{% endblock body %}