{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}
<div class="container">
  <div class="w-lg-75 mt-5 my-3">
    <h1 class="display-3 mb-5">
      <b>iThACK is a</b>
      <span class="text-warning">
        <span class="js-text-animation">modern and professional</span><span
          class="typed-cursor typed-cursor--blink">|</span>
      </span>
      <br>
      <b> blogging agancy</b>
    </h1>
    <p class="lead text-muted"><b>As well as being game-changers when it comes to tech content with theme innovation.
        Check out our populer posts by content team agancy.</b></p>
  </div>

  <a class="btn btn-success btn-wide transition-3d-hover" href="/blog">Get Started</a>
  <a class="btn btn-link btn-wide" href="/about">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></a>
</div>
<hr>

  <div class="container mt-5">
    <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
      <div class="col-lg-5 order-lg-2 mb-2 mb-lg-0">
        <h2 class="h3 font-weight-normal">Architecture</h2>
        <p class="font-weight-light"><b>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. >Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.</b> </p>
      </div>
      <div class="col-lg-6 order-lg-1">
        <a href="/blog">
          <figure class="img-overlay  ">
            <img src="/static/img/take.jpg" class="border-dark img-thumbnail">
          </figure>
        </a>
      </div>
    </div>
  </div>
  
  <div class="container mt-5">
    <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
      <div class="col-lg-5 order-lg-1 mb-2 mb-lg-0">
        <h2 class="h3 font-weight-normal">Architecture</h2>
        <p class="font-weight-light"><b>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. >Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.</b> </p>
      </div>
      <div class="col-lg-6 order-lg-2">
        <a href="/blog">
          <figure class="img-overlay  ">
            <img src="/static/img/take.jpg" class="border-dark img-thumbnail">
          </figure>
        </a>
      </div>
    </div>
  </div>
  
  <div class="container mt-5">
    <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
      <div class="col-lg-5 order-lg-2 mb-2 mb-lg-0">
        <h2 class="h3 font-weight-normal">Architecture</h2>
        <p class="font-weight-light"><b>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. >Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.</b> </p>
      </div>
      <div class="col-lg-6 order-lg-1">
        <a href="/blog">
          <figure class="img-overlay  ">
            <img src="/static/img/take.jpg" class="border-dark img-thumbnail">
          </figure>
        </a>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
      <div class="col-lg-5 order-lg-1 mb-2 mb-lg-0">
        <h2 class="h3 font-weight-normal">Architecture</h2>
        <p class="font-weight-light"><b>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. >Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.</b> </p>
      </div>
      <div class="col-lg-6 order-lg-2">
        <a href="/blog">
          <figure class="img-overlay">
            <img src="/static/img/take.jpg" class="border-dark img-thumbnail">
          </figure>
        </a>
      </div>
    </div>
  </div>

{% endblock body %}